// this is my templating language.
/*
it is supposed to be
simple and easy
*/

// keywords must use "." before them.
// variables:
.var x = 10;
.var y 0.001;
.var s = "hello world";

.const pi = 3.14159;

// interpolation is supported with ${} syntax.
pi is ${pi} 
// btw, quotes outside code blocks are treated as literals, so if you type:
"" // this will literal print "" 

// you have control flow with .if, .else if and .else:
.if x > 5 {
    x is greater than 5
} .else if x == 5 {
    x is equal to 5
} .else {
    x is less than 5
}

// you can also have loops with .for:
.for i in 1..5 {
    ${i} // this will output 1, 2,
}

// you can define macros with .macro:
.macro greet(name) {
    Hello, ${name}!
}

// you can call with:
.greet(Alice) // this will output: Hello, Alice!
// most of the time, quotes are optional

// you can define macros with blocks and multiple parameters like that:
.macro add(a, b) {
    ${a + b}
}

// you can use "" inside blocks to literal print. it will respect the indentation.
.macro block_example() {"
    this is a block example
    with multiple lines
    and indentation
"}

// macro with blocks:
.macro repeat(n)[block] {
    beginning
    .for i in 1..n {
        ${block}
    }
    ending
}

.repeat(3) {"
    hi
"}// this will output:
beginning
    hi
    hi
    hi
ending

// you can import other templates with:
.import "./other_template.tmpl" 
// btw, you need to use the whole absolute path. can accept urls too, like:
.import "https://example.com/other_template.tmpl"

// you can have nested macro calling.
.macro inner() {
    .greet(Bob)
}

.macro outer() {
    .inner()
}

